body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #add8e6;
    color: #fff;
    padding: 0.5rem; /* Ajustez la valeur de rembourrage */
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 400px; /* Ajustez la taille au besoin */
    height: auto;
    margin-right: 5px; /* Ajoutez un espacement entre le logo et le texte */
    cursor: pointer; /* Ajoutez un curseur pour indiquer que c'est cliquable */
    border-radius: 5px; /* Ajoutez des coins arrondis au logo */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px; /* Ajustez l'espacement entre les boutons */
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #4682b4; /* Ajustez la couleur de fond du bouton */
    border-radius: 5px; /* Ajoutez des coins arrondis au bouton */
}

nav a:hover {
    background-color: #357ebd; /* Changez la couleur de fond au survol */
}

.popup {
    /* Ajoutez le style de votre popup ici */
    /* Ceci est un espace réservé, ajustez-le en fonction de vos besoins */
    display: none; /* Masquez initialement la popup */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    z-index: 1;
}
